button{
    width: 35px;
    height: 55px;
    font-size: 25px;
    font-weight: bold;
    margin: 3px;
    border-radius: 30px;
    border: none;
}

.main{
    background-color: rgb(44, 49, 44);
    width: 200px;
    margin-top: 50px;
    margin-left: 100px;
    padding: 25px;
    ;
}

.Operation{
    background-color:darkred;
    color: aliceblue;
}

.resultado{
    font-size: 40px;
    color: aliceblue;
    font-weight: bolder;
    
}

